/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --red: #e05454;
    --lightred: #e06464;
    --darkred: #c84c4c;
    --greenishblue: #4c9195;
    --blue: #457ca3;
    --darkblue: #407494;
}

body {
    font-family: 'Nunito', sans-serif;

    background-color: var(--red);
    color: white;
}

main {
    width: min(33%, 620px);

    margin: auto;
}

img {
    width: 16px;
    height: 16px;
}

section {
    width: 80%;

    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

.hr {
    width: 100%;

    margin: 0;

    border-bottom: 2px solid white;
}

.hidden {
    display: none;
}

/* NAV AND ULS */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0;
}

ul {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: 1rem;
}

#logo h1 {
    font-size: 20px;
}

#rightUl li a {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    padding: 0.5rem 0.75rem;
    border-radius: 4px;

    background-color: var(--lightred);
}

#options {
    margin-top: 1rem;
}

#options ul li {
    padding: 0.125rem 0.75rem;

    border-radius: 4px;
}

.hr.red {
    border-bottom: 2px solid var(--darkred);
}

.activeOption {
    background-color: var(--darkred);

    font-weight: bold;
}

/* TIMER CONTAINER */

#timerContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--lightred);

    margin-top: 2rem;
}

#timer {
    font-size: 120px;
    font-weight: bold;

    margin-top: 20px;
}

#timerButton {
    width: 200px;
    height: 55px;

    font-weight: bold;
    font-size: 1.5rem;

    border: none;
    border-radius: 4px;

    background-color: white;
    color: var(--red);

    margin: 1.25rem 0;
    padding: 0 0.75rem;

    box-shadow: rgb(235 235 235) 0px 6px 0px;

    cursor: pointer;
}

.skipTimerButton {
    position: absolute;
    right: 80px;
    bottom: 32px;

    background: none;
    border: none;
}

.skipTimerButton > img {
    width: 22px;
    height: 22px;
}

/* TASKS CONTAINER */

#tasksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tasksContainer > div {
    text-align: center;

    margin-top: 1rem;
}

#taskMenu {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
}

#menuButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--lightred);

    border: none;
    border-radius: 4px;

    padding: 0.5rem;
    cursor: pointer;
}

#addTaskButton {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    background-color: var(--darkred);
    color: white;

    border: 2px dashed rgba(235, 235, 235, 0.4);
    border-radius: 0.5rem;

    margin-top: 1rem;

    cursor: pointer;
}

/* MEDIA QUERIES 😪 */
